<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../views/popup.css">
</head>
<body>
  <form>
    <div>
      <div>
        <input id="type-eval"  type="radio" name="type" value="eval">eval</input>
        <input id="type-xpath" type="radio" name="type" value="xpath">xpath</input>
      </div>
      <div>
        <textarea id="code" ></textarea>
      </div>
      <div>
        <input id="execute" type="button" value="execute"></input>
      </div>
      <div id="result"></div>
    </div>
  </form>
  
  <script src="../scripts/opjs.js"></script>
  <script src="../scripts/popup.js"></script>
</body>
</html>
